# Envrionment
.venv/

# IDEs
.vscode/
.idea/

# Python
.venv/
__pycache__/

# React
node_modules/
.next/
dist/
build/

# ML Data & Indexes
ml-service/data_cache/
ml-service/*.npz
ml-service/*.faiss
ml-service/*.npy

# Scraped Images
ml-service/scrapping/images/

# Project
.env.local
