# Envrionment
.DS_Store

# IDEs
.vscode/
.idea/
.pyc

# Python
.venv/
*.lock
__pycache__/

# React
node_modules/
.next/
dist/
build/

# ML Data & Indexes
ml_service/data/
*.npz
*.faiss
*.npy

# Scraped Images
ml_service/scrapping/images/

# Server
certbot/

# Project
.env
.env.dev
.env.private
