:root {
    --bg: #1D232A;
    --primary-color: #667EEA;
    --secondary-color: #9066EA;
    --text-color: #FFFFFF
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    background-color: #ffffff;
    color: var(--text-color);
}

#root {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}
