@import "tailwindcss";
@plugin "daisyui";

/* Configuration du dark mode basé sur la classe .dark */
@custom-variant dark (&:where(.dark, .dark *));

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.form-field-spacing {
  @apply mt-4;
}
